# Plugin Configuration for CT_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:1/15/2025

#Eclipse embeds the package name (CT_Tools) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories

#Be sure to include ImageJAddIns and MuMassCalculatorJava8Lib when exporting the CT_Tools_Plugins.jar file

Plugins>CT Tools>Test,"Document Reader", CT_Tools.ResourceReader_Test
Plugins>CT Tools>Test,"Show Sample Image", CT_Tools.Show_Sample_Image

Plugins>CT Tools>About,"About CT Tools", CT_Tools.About_CT_Tools
Plugins>CT Tools>About,"About DFI JTransForms", CT_Tools.About_DFI_Info

Plugins>CT Tools>Calculators,"Linear Attenuation", CT_Tools.Xray_Calculator
Plugins>CT Tools>Calculators,"Spectrum Plotter", CT_Tools.Xray_SpectrumPlotter
Plugins>CT Tools>Calculators,"Lookup MuLin", CT_Tools.Xray_Lookup_MuLin
Plugins>CT Tools>Calculators,"Lookup Ratio", CT_Tools.Xray_Lookup_Ratio

Plugins>CT Tools>Workflow,"1.Scanner Setup", CT_Tools.Scanner_Setup
Plugins>CT Tools>Workflow,"2.Material Tagger", CT_Tools.Material_Tagger
Plugins>CT Tools>Workflow,"3.Tag Image To Parallel Brems Sinogram", CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram
Plugins>CT Tools>Workflow,"4.Reconstruct",CT_Tools.DFI_JTransforms
Plugins>CT Tools>Workflow,"5.Linearization Fitter", CT_Tools.Linearization_Fitter
Plugins>CT Tools>Workflow,"6.Apply Linearization", CT_Tools.Apply_Linearization
Plugins>CT Tools>Workflow,"7.Reconstruct Linearized",CT_Tools.DFI_JTransforms

Plugins>CT Tools>Tag Tools,"Materials Editor", CT_Tools.Materials_Editor
Plugins>CT Tools>Tag Tools,"Materials Editor Excel", CT_Tools.Materials_Editor_Excel
Plugins>CT Tools>Tag Tools,"Tag Image To MuLin", CT_Tools.Tag_Image_To_MuLin
Plugins>CT Tools>Tag Tools,"Attenuation Error", CT_Tools.Linear_Attenuation_Error
Plugins>CT Tools>Tag Tools,"Attenuation To Effective Energy", CT_Tools.Linear_Attenuation_To_Eeff

Plugins>CT Tools>Projectors,"MuLin Image To Parallel_Sinogram", CT_Tools.MuLin_Image_To_Parallel_Sinogram
Plugins>CT Tools>Projectors,"MuLin Image To Fan Sinogram", CT_Tools.MuLin_Image_To_Fan_Sinogram
Plugins>CT Tools>Projectors,"Tag Image To Fan Brems Sinogram", CT_Tools.Tag_Image_To_Fan_Brems_Sinogram
Plugins>CT Tools>Projectors,"Tag Image To Parallel Brems Sinogram", CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram

Plugins>CT Tools>Reconstructors,"DFI JTransforms",CT_Tools.DFI_JTransforms
Plugins>CT Tools>Reconstructors,"About DFI JTransforms",CT_Tools.About_DFI_Info


#Plugins>CT Tools>Reconstructors,"CT Recon Parallel Beam", CT_Tools.CT_Recon_ParallelBeam

#CT_Tools.DFI_JTransforms



#Plugins>CT Tools>Utilities,"Set Image ScaleFactor", CT_Tools.Set_Image_ScaleFactor
#Plugins>CT Tools>Utilities,"Show CT Properties", CT_Tools.Show_CT_Properties

#Plugins>CT Tools>X-ray Calculators,"MuLin Calculator", CT_Tools.Xray_Calculator
#Plugins>CT Tools>X-ray Calculators,"MuLin Spectrum_Plotter", CT_Tools.Xray_SpectrumPlotter
#Plugins>CT Tools>X-ray Calculators,"MuLin To keV", CT_Tools.Xray_Lookup_MuLin
#Plugins>CT Tools>X-ray Calculators,"MuLin Ratio To keV", CT_Tools.Xray_Lookup_Ratio

#Plugins>CT Tools>Linearization,"Apply Linearization", CT_Tools.Apply_Linearization
#Plugins>CT Tools>Linearization,"Linearization Fitter", CT_Tools.Linearization_Fitter

#Plugins>CT Tools>Tag Tools,"Material Tagger", CT_Tools.Material_Tagger
#Plugins>CT Tools>Tag Tools,"Materials Editor", CT_Tools.Materials_Editor
#Plugins>CT Tools>Tag Tools,"Materials Editor Excel", CT_Tools.Materials_Editor_Excel
#Plugins>CT Tools>Tag Tools,"Tag Image To MuLin", CT_Tools.Tag_Image_To_MuLin
#Plugins>CT Tools>Tag Tools,"Attenuation Error", CT_Tools.Linear_Attenuation_Error
#Plugins>CT Tools>Tag Tools,"Attenuation To Effective Energy", CT_Tools.Linear_Attenuation_To_Eeff

#Plugins>CT Tools>X-ray Projectors,"CT Scanner Setup", CT_Tools.Scanner_Setup
#Plugins>CT Tools>X-ray Projectors,"MuLin Image To Parallel_Sinogram", CT_Tools.MuLin_Image_To_Parallel_Sinogram
#Plugins>CT Tools>X-ray Projectors,"MuLin Image To Fan Sinogram", CT_Tools.MuLin_Image_To_Fan_Sinogram
#Plugins>CT Tools>X-ray Projectors,"Tag Image To Parallel Brems Sinogram", CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram
#Plugins>CT Tools>X-ray Projectors,"Tag Image To Fan Brems Sinogram", CT_Tools.Tag_Image_To_Fan_Brems_Sinogram
#CT_Tools.DFI_JTransforms
#Plugins>CT Tools>Reconstructors,"CT Recon Parallel Beam", CT_Tools.CT_Recon_ParallelBeam
#Plugins>CT Tools>Reconstructors,"DFI JTransforms",CT_Tools.DFI_JTransforms
#Plugins>CT Tools>Reconstructors,"About DFI JTransforms", CT_Tools.Show_DFI_Info

#Plugins>CT Tools>About,"CT Tools", CT_Tools.About_CT_Tools
#Plugins>CT Tools>About,"DFI JTransforms", CT_Tools.About_DFI_JTransforms

#Plugins>CT Tools>X-ray Calculators,"X-ray Calculator", CT_Tools.Xray_Calculator
#Plugins>CT Tools>X-ray Calculators,"X-ray Spectrum_Plotter", CT_Tools.Xray_SpectrumPlotter
#Plugins>CT Tools>X-ray Calculators,"X-ray Lookup MuLin", CT_Tools.Xray_Lookup_MuLin
#Plugins>CT Tools>X-ray Calculators,"X-ray Lookup Ratio", CT_Tools.Xray_Lookup_Ratio

#Plugins>CT Tools>Beam Hardening,"1.Scanner Setup", CT_Tools.Scanner_Setup
#Plugins>CT Tools>Beam Hardening,"2.Material Tagger", CT_Tools.Material_Tagger
#Plugins>CT Tools>Beam Hardening,"3.TagImage to Sinogram",  CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram
#Plugins>CT Tools>Beam Hardening,"4.DFI JTransforms",  CT_Tools.DFI_JTransforms
#Plugins>CT Tools>Beam Hardening,"5.Linearization Fitter", CT_Tools.Linearization_Fitter
#Plugins>CT Tools>Beam Hardening,"6.Apply Linearization", CT_Tools.Apply_Linearization
#Plugins>CT Tools>Beam Hardening,"7.Attenuation Error", CT_Tools.Linear_Attenuation_Error
#Plugins>CT Tools>Beam Hardening,"8.Attenuation To Eeff", CT_Tools.Linear_Attenuation_To_Eeff

#Plugins>CT Tools>Utilities,"Materials Editor", CT_Tools.Materials_Editor
#Plugins>CT Tools>Utilities,"Materials Editor Excel", CT_Tools.Materials_Editor_Excel
#Plugins>CT Tools>Utilities,"Show DFI Info", CT_Tools.Show_DFI_Info
#Plugins>CT Tools>Utilities,"Show CT Properties", CT_Tools.Show_CT_Properties
#Plugins>CT Tools>Utilities,"Open Example Image", CT_Tools.Open_Example_Image

#Plugins>CT Tools>Projectors,"MuLin To Parallel Sinogram", CT_Tools.MuLin_To_Parallel_Sinogram
#Plugins>CT Tools>Projectors,"MuLin To Fan Sinogram", CT_Tools.MuLin_To_Fan_Sinogram
#Plugins>CT Tools>Projectors,"Tag Image To Fan Sinogram", CT_Tools.Tag_Image_to_Fan_Brems_Sinogram
#Plugins>CT Tools>Projectors,"Tag Image To Parallel Sinogram", CT_Tools.Tag_Image_to_Parallel_Brems_Sinogram




