# Plugin Configuration for CT_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:1/15/2025

#Eclipse embeds the package name (CT_Tools) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories

#Be sure to include ImageJAddIns and MuMassCalculatorJava8Lib when exporting the CT_Tools_Plugins.jar file

Plugins>CT Tools>X-ray Calculators,"Xray Calculator", CT_Tools.Xray_Calculator
Plugins>CT Tools>X-ray Calculators,"Xray Spectrum_Plotter", CT_Tools.Xray_SpectrumPlotter
Plugins>CT Tools>X-ray Calculators,"Xray Lookup_MuLin", CT_Tools.Xray_Lookup_MuLin
Plugins>CT Tools>X-ray Calculators,"Xray Lookup_Ratio", CT_Tools.Xray_Lookup_Ratio

Plugins>CT Tools>X-ray Hardening,"Apply Linearization", CT_Tools.Apply_Linearization
Plugins>CT Tools>X-ray Hardening,"Linearization Fitter", CT_Tools.Linearization_Fitter
Plugins>CT Tools>X-ray Hardening,"Material Tagger", CT_Tools.Material_Tagger
Plugins>CT Tools>X-ray Hardening,"Materials Editor", CT_Tools.Materials_Editor
Plugins>CT Tools>X-ray Hardening,"Tag Image To MuLin", CT_Tools.Tag_Image_To_MuLin
Plugins>CT Tools>X-ray Hardening,"Scanner Setup", CT_Tools.Scanner_Setup

Plugins>CT Tools>X-ray Projectors,"MuLin Image To Parallel_Sinogram", CT_Tools.MuLin_Image_To_Parallel_Sinogram
Plugins>CT Tools>X-ray Projectors,"MuLin Image To Fan Sinogram", CT_Tools.MuLin_Image_To_Fan_Sinogram
Plugins>CT Tools>X-ray Projectors,"Tag Image To Parallel Brems Sinogram", CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram
Plugins>CT Tools>X-ray Projectors,"Tag Image To Fan Brems Sinogram", CT_Tools.Tag_Image_To_Fan_Brems_Sinogram

Plugins>CT Tools>Reconstructors,"CT Recon Parallel Beam", CT_Tools.CT_Recon_ParallelBeam
Plugins>CT Tools>Reconstructors,"DFI JTransforms", CT_Tools.DFI_JTransforms
Plugins>CT Tools>Reconstructors,"About DFI JTransforms", CT_Tools.About_DFI_JTransforms

Plugins>CT Tools>Utilities,"Set Image ScaleFactor", CT_Tools.Set_Image_ScaleFactor
Plugins>CT Tools>Utilities,"Show CT Properties", CT_Tools.Show_CT_Properties
