# Plugin Configuration for CT_Tools
# Each entry is menuName, "Command text", className
# Author LazzyIzzi
# Requires ImageJ 1.53k
# Date:1/15/2025

#Eclipse embeds the package name (CT_Tools) into the the className access path.
#plugins.config must explicitly put the package name in the className access path.
#Note the use of the "dot" in the path string. Why not the traditional "/" or "\"???

#only one plugins.config file per jar file
#jar file structure must be flat, i.e. no embedded directories

#Be sure to include ImageJAddIns and MuMassCalculatorJava8Lib when exporting the CT_Tools_Plugins.jar file
#Also, include the ImageJPlugins_CT_Tools.classpath in the jar


Plugins>CT Tools>Abouts,"About CT Tools", CT_Tools.About_CT_Tools
Plugins>CT Tools>Abouts,"About Linearization", CT_Tools.About_Linearization
Plugins>CT Tools>Abouts,"About Scanner Setup", CT_Tools.About_Scanner_Setup
Plugins>CT Tools>Abouts,"About Calculators", CT_Tools.About_Calculators
Plugins>CT Tools>Abouts,"About Tag Tools", CT_Tools.About_Tag_Tools
Plugins>CT Tools>Abouts,"About DFI JTransforms",CT_Tools.About_DFI_Info
Plugins>CT Tools>Abouts,"About Projectors", CT_Tools.About_Projectors

Plugins>CT Tools,"Sample Images", CT_Tools.Show_Sample_Image

Plugins>CT Tools>Calculators,"Linear Attenuation", CT_Tools.Xray_Calculator
Plugins>CT Tools>Calculators,"Spectrum Plotter", CT_Tools.Xray_SpectrumPlotter
Plugins>CT Tools>Calculators,"Lookup keV", CT_Tools.Lookup_keV
Plugins>CT Tools>Calculators,"Lookup keV Ratio", CT_Tools.Lookup_keV_Ratio
Plugins>CT Tools>Calculators,"Scanner Setup", CT_Tools.Scanner_Setup

Plugins>CT Tools>Linearization Steps,"1.Re-project", CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram
Plugins>CT Tools>Linearization Steps,"2.Material Tagger", CT_Tools.Material_Tagger
Plugins>CT Tools>Linearization Steps,"3.Linearization Fitter", CT_Tools.Linearization_Fitter
Plugins>CT Tools>Linearization Steps,"4.Apply Linearization", CT_Tools.Apply_Linearization
Plugins>CT Tools>Linearization Steps,"5.Reconstruct",CT_Tools.DFI_JTransforms

Plugins>CT Tools>Tag Tools,"Materials Editor", CT_Tools.Materials_Editor
Plugins>CT Tools>Tag Tools,"Materials Editor Excel", CT_Tools.Materials_Editor_Excel
Plugins>CT Tools>Tag Tools,"Tag Image To MuLin", CT_Tools.Tag_Image_To_MuLin
Plugins>CT Tools>Tag Tools,"Material Tagger", CT_Tools.Material_Tagger

#Plugins>CT Tools>Tag Tools,"Attenuation Error", CT_Tools.Linear_Attenuation_Error
#Plugins>CT Tools>Tag Tools,"Attenuation To Effective Energy", CT_Tools.Linear_Attenuation_To_Eeff

Plugins>CT Tools>Projectors,"MuLin Image To Parallel_Sinogram", CT_Tools.MuLin_Image_To_Parallel_Sinogram
Plugins>CT Tools>Projectors,"MuLin Image To Fan Sinogram", CT_Tools.MuLin_Image_To_Fan_Sinogram
Plugins>CT Tools>Projectors,"Tag Image To Parallel Brems Sinogram", CT_Tools.Tag_Image_To_Parallel_Brems_Sinogram
Plugins>CT Tools>Projectors,"Tag Image To Fan Brems Sinogram", CT_Tools.Tag_Image_To_Fan_Brems_Sinogram

Plugins>CT Tools>Reconstructors,"DFI JTransforms",CT_Tools.DFI_JTransforms

Plugins>CT Tools>Experimental,"Attenuation Error", CT_Tools.Linear_Attenuation_Error
Plugins>CT Tools>Experimental,"Attenuation To Effective Energy", CT_Tools.Linear_Attenuation_To_Eeff




